<!DOCTYPE html>
<html ng-app="roverApp">

<head>
	<title>ECE 4534 Interface</title>
	<script src="jquery.js"></script>
	<script src="angular.js"></script>
	<script src="ui-bootstrap.js"></script>
	<script src="smoothie.js"></script>
	<link rel="stylesheet" href="bootstrap.css"></style>
	<style>
/* for ui-bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* local */
h1, table, th {
	text-align: center;
}
th {
	font-size: 1.2em;
}
td {
	font-family: monospace;
}
button.killswitch {
	background: red;
	color: yellow;
	border: 0px solid red;
	border-radius: 6px;
}
.ctm {
	border-top: 1px solid lightgrey;
}
.ctmt * {
	border-radius: 0px !important;
}
.ctmt {
	font-size: 16px !important;
}
.ctm > .tab-content {
	padding-top: 30px;
}
.cmd:first-child {
	text-align: right;
}
.cmd > * {
	display: block;
	overflow: hidden;
}
.cmd .descr, .test-name {
	font-size: 1.5em;
}
.cmd button {
	float: right;
}
.panel-success .panel-heading {
	background-color: #cff0c8 !important;
}
.panel-danger .panel-heading {
	background-color: #f2bebe !important;
}
.panel-warning .panel-heading {
	background-color: #f2bd6e !important;
}
s {
	color: #aaa;
}
	</style>
	<script>
var xxx;
var roverApp = angular.module('roverApp', ['ui.bootstrap']);
roverApp.controller('SupervisoryCtrl', function ($scope) {
	$scope.rover_hiwat = 0;
	$scope.rovers = {
	};
xxx=$scope;

	$scope.toggle = function(rover, def) {
		// XXX make this per-rover
		console.log(''+def.e+' toggled '+def.enabled+' for '+rover.host+':'+rover.port);
		ws.send(JSON.stringify({'type':(def.enabled?'enable':'disable'), 'e':def.e, 'rover':{'host':rover.host, 'port':rover.port}}));
	}
	$scope.send_cmd = function(rover, op, arg) {
		console.log(rover.host+':'+rover.port+' '+op+(arg === undefined ? '' : ' '+arg));
		ws.send(JSON.stringify({'type':'cmd', 'op':op, 'arg':arg, 'rover':{'host':rover.host, 'port':rover.port}}));
	}
	$scope.raw_cmd = function(rover, str) {
		var x = str.split(' ');
		$scope.send_cmd(rover, x[0], x[1]);
	}
	$scope.run_test = function(rover, name) {
		$scope.send_cmd(rover, 'TSTR', name);
	}

	// XXX this is probably a dumb way of doing it
	function rover_reset(r) {
		r.cmds = {};
		r.tests = {};
		r.defs = {};
		r.msgs = {};
	}

	var ws_url = window.location.origin.replace('http','ws')+'/rovers?'+(window.location.hash.split('#')[1]||'');
	console.log('WebSocket URL: '+ws_url);
	var ws = new WebSocket(ws_url);
	$scope.sock = ws;
	ws.onopen = function(e) {
		console.log('connected');
		ws.send(JSON.stringify({'type':'str', 'msg':'?'}));
		ws.send(JSON.stringify({'type':'enumerate'}));
	}
	ws.onclose = function(e) { console.warn('connection failed'); }
	ws.onerror = function(e) { console.warn('connection error: '+e.data); }
	ws.onmessage = function(e) {
		console.log(e.data);
		var msg = JSON.parse(e.data);
		$scope.$apply(function() {
			switch (msg.type) {
			case 'rover_list':
				msg.rovers.forEach(function(r) {
					var k = r.host+':'+r.port;
					if (!$scope.rovers[k]) {
						$scope.rover_hiwat++;
						$scope.rovers[k] = {
							name: 'Rover '+$scope.rover_hiwat,
							status: '',
							host: r.host,
							port: r.port,
						};
						rover_reset($scope.rovers[k]);
						ws.send(JSON.stringify({'type':'enumerate'}));
					}
				});
				break;
			case 'dbg_def':
				var r = $scope.rovers[msg.from[0]+':'+msg.from[1]];
				r.defs[msg.e] = msg;
				r.defs[msg.e].vals = {};
				msg.sfmt.split('').forEach(function(my_type, i) {
					var x = {
						t: my_type,
						ts: new TimeSeries(),
						chart: new SmoothieChart(),
					};
					x.chart.addTimeSeries(x.ts, {strokeStyle:'red', lineWidth:4});
					r.defs[msg.e].vals[i] = x;
				});
				break;
			case 'cmd_def':
				var r = $scope.rovers[msg.from[0]+':'+msg.from[1]];
				r.cmds[msg.op] = msg;
				console.log(msg);
				break;
			case 'test_def':
				var r = $scope.rovers[msg.from[0]+':'+msg.from[1]];
				r.tests[msg.name] = {descr: msg.descr};
				console.log(msg);
				break;
			case 'test_result':
				var r = $scope.rovers[msg.from[0]+':'+msg.from[1]];
				r.tests[msg.name].result = msg.result;
				console.log(msg);
				break;
			case 'msg':
				var r = $scope.rovers[msg.from[0]+':'+msg.from[1]];
				if (r.msgs[msg.e] == undefined) {
					r.msgs[msg.e] = [];
					msg.args.forEach(function(arg, i) {
						var elem = document.getElementById(r.host+'_'+r.port+'_'+msg.e+'_'+i);
						r.defs[msg.e].vals[i].chart.streamTo(elem, 1000);
					});
				}
				r.msgs[msg.e].push(msg);
				msg.args.forEach(function(arg, i) {
        	r.defs[msg.e].vals[i].ts.append(new Date().getTime(), arg);
				});

				break;
			case 'status':
				var r = $scope.rovers[msg.from[0]+':'+msg.from[1]];
				r.status = msg.status;
				if (msg.status === 'boot')
					rover_reset(r);
				break;
			}
		});
	}
});

	</script>
</head>
<body>

<div class="container" ng-controller="SupervisoryCtrl">
	<h1 class="jumbotron">Rover <s>Command Center</s> Battle Station</h1>
	<uib-tabset>
		<uib-tab ng-repeat="rover in rovers" heading="{{rover.name}} ({{rover.host}}:{{rover.port}}) {{rover.status}}">
			<uib-tabset justified="true" type="pills" class="ctm">
				<uib-tab heading="Commands" class="ctmt">
					<div class="cmd panel panel-body">
						<form ng-submit="raw_cmd(rover, rover.rawval)">Raw command: <input class="text" ng-model="rover.rawval" /></form>
					</div>
					<div ng-repeat="(op, cmd) in rover.cmds" class="cmd panel panel-default">
						<div class="panel-heading">
							<span class="descr">{{cmd.descr}}</span>
							<button class="btn btn-primary" ng-click="send_cmd(rover, op, cmd.argval)"><span class="op">{{op}}</span></button>
						</div>
						<form ng-submit="send_cmd(rover, op, cmd.argval)">
							<label class="panel-body" ng-show="cmd.arg_descr">
								{{cmd.arg_descr}}: <input ng-model="cmd.argval" />
							</label>
						</form>
					</div>
				</uib-tab>
				<uib-tab heading="Tests" class="ctmt">
					<div ng-repeat="(name, info) in rover.tests">
						<!-- XXX: Need to figure out how to use angular ng-repeat vals in ng-foos of same elem. -->
						<!-- XXX: Also need to figure out controllers. Like seriously... -->
						<!-- XXX: Really just need to learn angular, haha. -->
						<div class="panel panel-default test" ng-click="run_test(rover, name)" ng-class="rover.status === 'testing '+name ? 'panel-primary' : info.result === 'success' ? 'panel-success' : info.result === 'fail' ? 'panel-danger' : info.result === 'complete' ? 'panel-warning' : ''">
							<div class="panel-heading test-name">{{name}}</div>
							<div class="panel-body test-descr">{{info.descr}}</div>
						</div>
					</div>
				</uib-tab>
				<uib-tab heading="Messages" class="ctmt">
					<!--<h1>Message Types</h1>-->
					<table class="table"><thead>
						<tr>
							<th>unique ID</th>
							<th>file:line</th>
							<th>format string</th>
							<th>data types</th>
							<th>message count</th>
							<th>enabled</th>
						</tr>
					</thead><tbody>
						<tr ng-repeat="(e, def) in rover.defs">
							<td>{{def.e}}</td>
							<td>{{def.file}}:{{def.line}}</td>
							<td>{{def.fmt}}</td>
							<td>{{def.sfmt}}</td>
							<td>{{def.n}}</td>
							<td><input type="checkbox" ng-model="def.enabled" ng-change="toggle(rover, def)"></input></td>
						</tr>
					</tbody></table>
					<hr />
					<!--<h1>Message Values</h1>-->
					<div ng-repeat="(e, def) in rover.defs">
						<div ng-show="def.enabled"><!-- can't have ng-repeat & ng-show on same elem? -->
							<h2>{{def.fmt}}</h1>
							<canvas ng-repeat="(i, arg) in def.vals" id="{{rover.host}}_{{rover.port}}_{{e}}_{{i}}" width="600" height="100"></canvas>
						</div>
					</div>
				</uib-tab>
			</uib-tabset>
		</uib-tab>
	</uib-tabset>
</div>

</div>
</body>
</html>
